/* Theme customization */

/* Custom Global Style */
html,
body,
#root {
  height: 100%;
}

table,
th {
  text-align: center;
}

.fullHeight {
  height: 100%;
}

@media only screen and (max-width: 576px) {
  .fullHeight {
    height: 0%;
  }

  .fs-xs-1 {
    font-size: 1rem;
  }

  .fs-xs-2 {
    font-size: 2rem;
  }
}

/* import bootstrap to set changes */
@import '../node_modules/bootstrap/scss/bootstrap';
